.Bovenblok{
background-color:#20cdd9;
color: white;
padding: 15px;
border: 2px solid black;
margin: 1px; 
}
.Middenblok{
background-color: gray;
color: white;
padding: 100px;
border: 2px solid black;
}
.BovenblokContact{
background-color: #ffffff;
Color: black;
padding: 10px;
border: 2px solid black;
margin: 1px; 
font-family: verdana;
}
.VerdereInformatie{
background-color: #ffffff;
Color: black;
Padding: 25px;
border: 2px solid black;
text-align: left-top;
margin: 1px; 
font-size: 25px;
font-family: verdana; 
}



  /* Stijlen voor de afbeelding */
  .persoon-foto {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    margin-right: 20px;
  }

  /* Stijlen voor de tekst */
  .persoon-tekst {
    font-size: 18px;
  }

  /* Stijlen voor de titel */
  .blok-titel {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
 /* CSS voor het blok met lichtgrijze achtergrond */
        .image-block {
            background-color: lightblue;
            padding: 20px;
        }







{
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 65%;
  background-color: #f1f1f1;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}


#afbeelding-container {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        #meebewegende-afbeelding {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
        }


.footer {
            background-color: #f2f2f2; 
            padding: 20px; 
            text-align: center;
        }