.Bovenblok{
background-color:#20cdd9;
color: white;
padding: 15px;
border: 2px solid black;
margin: 1px; 
}
.Middenblok{
background-color: gray;
color: white;
padding: 100px;
border: 2px solid black;
}
.BovenblokContact{
background-color: #ffffff;
Color: black;
padding: 10px;
border: 2px solid black;
margin: 1px; 
font-family: verdana;
}
.VerdereInformatie{
background-color: #ffffff;
Color: black;
Padding: 25px;
border: 2px solid black;
text-align: left-top;
margin: 1px; 
font-size: 25px;
font-family: verdana; 
}